ul li{
    font-weight: 600;
}

.total-pay{
    display: flex;
    justify-content: space-between;
}

.home-container{
    background-color: #fff;
    margin: 22%;
    width:52%;
}
.progress {
    height: 5px; /* Set the height you want for the progress bar */
  }
  .title{
    font-size:x-large;
  }