<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm p-3  bg-dark-subtle text-emphasis-dark rounded">
    <div class="container-fluid  ">
      <a class="navbar-brand flex-grow-1 d-flex justify-content-end" href="#">AllSecurity</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  flex-grow-1 d-flex justify-content-evenly">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Renewals</a>
          </li> <li class="nav-item">
            <a class="nav-link" >Become An Agent </a>
          </li> <li class="nav-item">
            <a class="nav-link" >Resources</a>
         
         
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="home-container ">
    <div class="mx-auto w-75">
      <div class="col-md-8 p-4 ">
        <h2 mt-2>Do The AllState Insurance</h2>
        <h5 class="text-muted">Trusted by 3+ crores Indians</h5>
      </div>
      <div class="col-md-8 ">
        <ul class="nav ">
          <li class="nav-item me-2 ">
            <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg" class="rounded-circle shadow-sm bg-body mx-2 border border-warning" alt="">
            <p><a href="" class="a mx-3">Health</a></p>
          </li>
          <li class="nav-item">
            <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/car-side-view.svg"  class="rounded-circle shadow-sm bg-body mx-2" alt="...">
            <p  routerLink="home-page"><a href="" class="a mx-3" >Car</a></p>
          </li>
          <li class="nav-item">
            <img src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/motorcycle-side-view.svg" class="rounded-circle shadow-sm bg-body mx-2" alt="...">
            <p><a href="" class="a mx-3">Bike</a></p>
          </li>
          <li class="nav-item">
            <img src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Autorikshaw.svg" class="rounded-circle shadow-sm bg-body mx-2" alt="...">
            <p><a href="" class="a">Commercial</a></p>
          </li> 
          <li class="nav-item">
            <img src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/travel-airplane.svg" class="rounded-circle shadow-sm bg-body mx-2" alt="...">
            <p><a href="" class="a mx-3">Travel</a></p>
          </li>
  
          <li class="nav-item">
            <img src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/more-icon.svg" class="rounded-circle shadow-sm bg-body mx-2" alt="...">
            <p ><a href=""class="a mx-3">More</a></p>
          </li>
          <!-- <li class="nav-item">
            <img src="	https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/Renew%20Icon.svg" class="rounded-circle shadow-sm bg-body mx-2" alt="...">
          </li> -->
        </ul>
  
      </div>
      
      <div class="col-sm-12 mt-2 col-md-7 p-2">
        <div class="d-flex bg-body rounded">
          <div class=" p-2 flex-fill border">
            <label for="id1" class="labelcss  ">Pin Code</label>
            <input type="text" class=" formcss" id="id1" placeholder="Enter Pincode">
          </div>
          <div class=" p-2  flex-fill border">
            <label for="id2" class="labelcss ">Mobile Number</label>
            <input type="text" class="formcss " id="id2" placeholder="Enter Mobile">
          </div>
  
          <div class="p-2 border">
            <button type="button" class="btn btn-warning">View Prices</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2 mx-3">
        <a class="link shadow-sm mx-2 p-2" >DON'T HAVE REG NO<i class="bi bi-chevron-right ms-2"></i></a>
        <a class="link shadow-sm mx-2 p-2" routerLink="/car-insurance">IT'S A BRAND NEW CAR<i class="bi bi-chevron-right ms-2"></i></a>

      </div>
    </div>
  </div>
  
  
